*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* ==================================== */
.filter__wrap {
  position: relative;
  margin-top: 28px;
  //   margin-left: 100px;
  margin-bottom: 60px;
}

.filter__other-category-wrap {
  position: absolute;
  z-index: 10;
  left: 590px;
  width: 168px;
  height: 380px;
  overflow: hidden;

  border-radius: 20px;

  &::-webkit-scrollbar {
    width: 0;
  }

  &.visible {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.filter__others-category-list {
  transform: translateY(-101%);
  transition: transform 0.4s;

  background-color: #f8f8f8;
  padding-left: 24px;

  &.visible {
    transform: translateY(0%);
    transition: transform 0.4s;

    background-color: #f8f8f8;
  }
}

.filter__main-category-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.filter__main-category-btn {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;

  color: #4b48db;
  background-color: #fff;
  border: 1px solid #4440f7;
  border-radius: 20px;
  cursor: pointer;

  /* + */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 21px;
  gap: 10px;
}

.filter__main-category-btn-icon {
  width: 14px;
  height: 14px;
}

.active {
  color: #fff;
  background: #4440f6;
}

.filter__others-category-btn {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.01em;

  color: #4440f7;
  background-color: #f8f8f8;
  border: none;

  &:hover,
  &:focus {
    text-decoration-line: underline;
    cursor: pointer;
  }
}

// .filter__main-category-item {
// }

// .filter__others-category-item {
// }
