<section class="filter">
  <div class="container">
    <div class="filter__wrap">
      <ul class="filter__main-category-list"></ul>
      <div class="filter__other-category-wrap">
        <ul class="filter__others-category-list"></ul>
      </div>
    </div>
    <!-- <li>
        <div class="btn-box-wrap">
          <button class="categories">Categories<span></span></button>

          <div class="btn-box-list">
            <div class="btn-box-thump"></div>
          </div>
        </div>
      </li> -->
  </div>
</section>
